@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import "Style/navbar.css";
@import "Style/buttons.css";
@import "Style/hero.css";
@import "Style/responsive.css";
@import "Style/page2.css";
@import "Style/footer.css";
@import "Style/bookAppoint.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
}
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    z-index: 9999;
    animation: fadeOut 4s forwards;
}

.toast.success {
    background-color: #28a745;
}

.toast.error {
    background-color: #dc3545;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}
