@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

.hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 80px;

    /* background: linear-gradient(
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
    ), url("../images/doctor11.jpg")top center/cover no-repeat; */

    background: url("../images/doctors55.webp")top center/cover no-repeat;
    /* font-weight: bold; 
    color: #007C9D;
        color: #F1A902; */
    position: relative;
    /* color: #0b615e; */
}


/* Text area */
.hero-content {
    position: relative;
    max-width: 650px;
    z-index: 1;
    /* max-width: 60%; */
    text-align: left;
    left: 0;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #042b35;
    line-height: 1.2;
    letter-spacing: -0.5px;
    text-shadow: 0 2px 15px rgba(255,255,255,0.4);
}

.hero-content h1 span {
    color: #00ffff;
}

.hero-content p {
    margin: 20px 0;
    font-size: 1.1rem;
    color: #0a3540;
    line-height: 1.7;
    max-width: 500px;
    font-weight: 450;
}

/* Buttons */
.hero-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn-secondary {
    border: 2px solid #06494d;
    color: #000000;
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-secondary:hover {
    /* background-color: #12695f; */
    background-color: #115d58;
    color: #fff;
}

/* Tablet */
@media (max-width: 900px) {
    .hero {
        /* flex-direction: column; */
        justify-content: center;
        text-align: center;
        padding: 40px 20px;
        margin-top: 70px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-buttons {
        justify-content: center;
    }
}


/* Mobile */
@media (max-width: 600px) {
    .hero {
        min-height: auto;
        padding: 80px 15px;
        background-position: center right;
    }

    .hero-content h1 {
        font-size: 1.8rem;
    }
    .hero-buttons {
        flex-direction: column;
        gap: 12px;

    }

    .btn-primary,
    .btn-secondary {
        width: 100%;
        text-align: center;
    }

}