.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 80px;
  
    /* background: linear-gradient(
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
    ), url("../images/doctor11.jpg")top center/cover no-repeat; */
    
    background:url("../images/doctors55.webp")top center/cover no-repeat;
/* font-weight: bold; 
    color: #007C9D;
        color: #F1A902; */
    position: relative;
    /* color: #0b615e; */
}


/* Text area */
.hero-content {
    position: relative;
    max-width: 60%;
    text-align: left;
    left: 0;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold; 
    color: #042b35;
    /* font-weight: 600;
    color: #003642; */
    /* color: rgb(255, 255, 255); */
    line-height: 1.2;
}

.hero-content h1 span {
    color: #00ffff;
}

.hero-content p {
    margin: 20px 0;
    font-size: 1.15rem;
     color: #012730;
    line-height: 1.6;
    /* line-height: 2; */
    /* background-color: red; */
    /* font-weight: 600; */
}

/* Buttons */
.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn-secondary {
    border: 2px solid #06494d;
    color: #000000;
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-secondary:hover {
    /* background-color: #12695f; */
    background-color: #115d58;
    color: #fff;
}

@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
        margin-top: 70px;
         width: 900px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image img {
        width: 300px;
        margin-top: 30px;
    }

    .hero-buttons {
        justify-content: center;
    }
}
@media (max-width : 400px) {
    .hero{
        width:400px ;
    }
}